# Entornos virtuales
venv/
env/
.venv/

# Carpetas de datos y modelos pesados
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep
models/*
!models/.gitkeep

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo
.DS_Store
Thumbs.db