# Entornos virtuales
venv/
env/
.venv/

# Carpetas de datos (raw, processed, features) ignoradas por seguridad/peso
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep
!data/features/eda_metadata.csv

# Modelos: ignorar todo, pero permitir .pkl y .pth
models/*
!models/.gitkeep
!models/*.pkl
!models/*.pth

# Métricas: ignorar todo, pero permitir tus archivos de datos/métricas
metrics/*
!metrics/.gitkeep
!metrics/*.json
!metrics/*.csv
!metrics/*.txt
!metrics/*.png

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo
.DS_Store
Thumbs.db